<h1>Admin Index</h1>

<%= link_to "Orders", admin_orders_path %>
<%= link_to "Products", admin_products_path %>
<%= link_to "Users", admin_users_path %>
<%= link_to "Categories", admin_categories_path %>


